<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.HotelsMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.pojo.Hotels">
            <id property="hotelId" column="hotel_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="rating" column="rating" jdbcType="DECIMAL"/>
            <result property="active" column="active" jdbcType="TINYINT"/>
            <result property="availableRooms" column="available_rooms" jdbcType="INTEGER"/>
            <result property="transport" column="transport" jdbcType="VARCHAR"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
           <result property="price" column="price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        hotel_id,name,address,
        phone_number,description,rating,
        active,available_rooms,transport,
        tag,price
    </sql>


</mapper>
